<div id="gear-{{ gearset.lodestoneClass.shortEn|lower }}" class="gear-overview" style="{% if i<1 %}display:none;{% endif %}">
    <div class="gear-head d-flex align-items-center mb-1">

        {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
            'character': character,
            'gearset':gearset,
            'i': i
        }) }}

        {include file="_character_gear_equipimage.tpl" obj=$gearset->mainHand slot='mainHand'}

        <div class="gear-title d-inline-block w-100">
            <span class="small">Level:{$obj->classes[$short]->level|he}<br></span>
            <img src="{{ asset('gfx/classjob/'~gearset.lodestoneClass.shortEn|lower~'.png') }}"> {{ gearset.lodestoneClass.nameEn|capitalize }}
        </div>

        <div class="text-right w-100">
            <small>Last update</small><br>
            <small>{{ gearset.updatedAt|date }}</small>
        </div>
    </div>
    <div class="gear-content d-flex">
        <div class="main-slots d-inline-block d-flex flex-column">
            {include file="_character_gear_equipimage.tpl" obj=$gearset->head slot='head'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->body slot='body'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->hands slot='hands'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->waist slot='waist'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->legs slot='legs'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->feet slot='feet'}
        </div>
        <div class="portrait d-inline-block position-relative">
            <img style="height: 340px;width: 250px;" class="shadow rounded" src="{$__baseurl}data/gearset/{$obj->ffxivId|he}_{$short|he}.jpg"/>
            <div class="ilevel position-absolute">
                iLvl: {$gearset->iLevel|he}
            </div>
        </div>
        <div class="sub-slots d-inline-block d-flex flex-column">
            {include file="_character_gear_equipimage.tpl" obj=$gearset->offHand slot='offHand'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->earrings slot='earrings'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->necklace slot='necklace'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->bracelets slot='bracelets'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->ring1 slot='ring1'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->ring2 slot='ring2'}

            {include file="_character_gear_equipimage.tpl" obj=$gearset->soulCrystal slot='soulCrystal'}

        </div>
    </div>
</div>