<div class="job-overview">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">

            {# TANKS #}
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/pld.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('pld').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/war.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('war').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/drk.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('drk').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/gnb.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('gnb').Level }}</div>
            </div>
            {# /TANKS #}

            {# PLACEHOLDER #}
            <div class="job-item d-inline-block">
                <img class="job-icon placeholder" src="#"><br>
                <div class="text-center">&nbsp;&nbsp;&nbsp;</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon placeholder" src="#"><br>
                <div class="text-center">&nbsp;&nbsp;&nbsp;</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon placeholder" src="#"><br>
                <div class="text-center">&nbsp;&nbsp;&nbsp;</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon placeholder" src="#"><br>
                <div class="text-center">&nbsp;&nbsp;&nbsp;</div>
            </div>
            {# /PLACEHOLDER #}

            {# HEALER #}
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/whm.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('whm').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/sch.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('sch').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/ast.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('ast').Level }}</div>
            </div>
            {# /HEALER #}

        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-between">

            {# CASTER #}
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/blm.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('blm').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/smn.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('smn').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/rdm.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('rdm').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/blu.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('blu').Level }}</div>
            </div>
            {# /CASTER #}

            {# RANGE #}
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/brd.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('brd').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/mch.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('mch').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/dnc.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('dnc').Level }}</div>
            </div>
            {# /RANGE #}

            {# MELEE #}
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/mnk.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('mnk').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/drg.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('drg').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/nin.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('nin').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/sam.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('sam').Level }}</div>
            </div>
            {# /MELEE #}

        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-between">

            {# CRAFTER #}
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/crp.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('crp').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/bsm.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('bsm').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/arm.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('arm').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/gsm.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('gsm').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/ltw.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('ltw').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/wvr.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('wvr').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/alc.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('alc').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/cul.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('cul').Level }}</div>
            </div>
            {# /CRAFTER #}

            {# GATHERER #}
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/min.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('min').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/btn.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('btn').Level }}</div>
            </div>
            <div class="job-item d-inline-block">
                <img class="job-icon" src="{{ asset('images/classjob/fsh.png') }}"><br>
                <div class="text-center">{{ character.lodestoneClassMapping('fsh').Level }}</div>
            </div>
            {# /GATHERER #}

        </div>
    </div>
</div>