<div id="gear-{{ gearset.lodestoneClass.shortEn|lower }}" class="gear-overview" style="{% if i>1 %}display:none;{% endif %}">
    <div class="gear-head d-flex align-items-center mb-1">

        {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
            'gearsetItem': gearset.getGearsetItemBySlot('mainHand'),
            'slot': 'mainHand'
        }) }}

        <div class="gear-title d-inline-block w-100">
            <span class="small">Level:{{ character.lodestoneClassMapping(gearset.lodestoneClass.shortEn|lower).Level }}<br></span>
            <img src="{{ asset('images/classjob/'~gearset.lodestoneClass.shortEn|lower~'.png') }}"> {{ gearset.lodestoneClass.nameEn|capitalize }}
        </div>

        <div class="text-right w-100">
            <small>Last update</small><br>
            <small>{{ gearset.updatedAt|date }}</small>
        </div>
    </div>
    <div class="gear-content d-flex">
        <div class="main-slots d-inline-block d-flex flex-column">
            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('head'),
                'slot': 'head'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('body'),
                'slot': 'body'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('hands'),
                'slot': 'hands'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('waist'),
                'slot': 'waist'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('legs'),
                'slot': 'legs'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('feet'),
                'slot': 'feet'
            }) }}
        </div>
        <div class="portrait d-inline-block position-relative">
            <img style="height: 340px;width: 250px;" class="shadow rounded" src="/data/gearset/{{ character.lodestoneId }}_{{ gearset.lodestoneClass.shortEn|lower }}.jpg?t={{ gearset.updatedAt|date('Ymd') }}"/>
            <div class="ilevel position-absolute">
                iLvl: {{ gearset.iLevel }}
            </div>
        </div>
        <div class="sub-slots d-inline-block d-flex flex-column">
            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('offHand'),
                'slot': 'offHand'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('earrings'),
                'slot': 'earrings'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('necklace'),
                'slot': 'necklace'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('bracelets'),
                'slot': 'bracelets'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('ring1'),
                'slot': 'ring1'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('ring2'),
                'slot': 'ring2'
            }) }}

            {{ include('lodestone_character/_character_gear_equipimage.html.twig', {
                'gearsetItem': gearset.getGearsetItemBySlot('soulCrystal'),
                'slot': 'soulCrystal'
            }) }}

        </div>
    </div>
</div>