<!doctype html>
<html lang="en" class="h-100">
<head>
    {# Google Analytics #}
    {% if app.environment == 'prod' %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140684595-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-140684595-1');
        </script>
    {% endif %}

    {# global header tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ path('home') }}favicon.png" rel="shortcut icon" type="image/png">

    {# site specific header tags #}
    <title>{% block title %}XIVGEAR{% endblock %}</title>

    <meta content="A FINAL FANTASY XIV: Online Gear Tracker" name="description">
    <meta content="{{ block('title') }}" property="og:title">
    <meta content="A FINAL FANTASY XIV: Online Gear Tracker" property="og:description">
    <meta content="#3E92CC" name="theme-color">
    <meta content="{{ asset('images/logo.png') }}" property="og:image">

    {# Font #}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    {# FontAwesome #}
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">

    {# Custom CSS #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="">
    {% if app.environment == 'dev' %}
        <div class="position-absolute text-danger" style="top:13px;right: 100px;z-index: 10000;">
            <h1>DEV-SYSTEM</h1>
        </div>
    {% endif %}
    <div id="app" class="d-flex flex-column h-100">

        <header class="siteheader d-flex bg-dark py-2 px-3 position-fixed w-100 shadow">
            <div class="brand">
                <a href="{{ path('home') }}">
                    <span class="brand-name text-primary mb-0">XIVGEAR <small style="font-size: 50%;"><small>v</small>2.0.0</small></span>
                    <small class="text-muted">
                        Your #1 FFXIV stalker tool <img height="20px" src="{{ asset('images/kappa.png') }}" alt="kappa"/>
                    </small>
                </a>
            </div>
            <div class="w-100 justify-content-between align-self-center d-flex">
                <div id="searchbar" class="w-100">
                    <main-fayt></main-fayt>
                </div>
                <div class="login">
                    {#{if !$loginUser}
                    <a href="{$__baseurl}{urlfor site='discord_login'}" class="btn btn-secondary w-100">
                        Login via Discord
                    </a>
                    {else}
                    <a class="settings" href="{$__baseurl}{urlfor site='user_settings'}">
                        <img class="rounded-circle" src="{$loginUser->getDiscordAvatarUrl()}"/>
                        <span class="text-muted">{$loginUser->username|he}</span>
                    </a>
                    {/if}#}
                </div>
            </div>
        </header>
        <header class="siteheader d-flex bg-dark py-2 px-3 position-fixed w-100 shadow">
            <div class="brand">
                <a href="{{ path('home') }}">
                    <span class="brand-name text-primary mb-0">XIVGEAR <small style="font-size: 50%;"><small>v</small>2.0.0</small></span>
                    <small class="text-muted">
                        Your #1 FFXIV stalker tool <img height="20px" src="{{ asset('images/kappa.png') }}" alt="kappa"/>
                    </small>
                </a>
            </div>
            <div class="w-100 justify-content-between align-self-center d-flex">
                <div id="searchbar" class="w-100">
                    <main-fayt></main-fayt>
                </div>
                <div class="login">
                    {#{if !$loginUser}
                    <a href="{$__baseurl}{urlfor site='discord_login'}" class="btn btn-secondary w-100">
                        Login via Discord
                    </a>
                    {else}
                    <a class="settings" href="{$__baseurl}{urlfor site='user_settings'}">
                        <img class="rounded-circle" src="{$loginUser->getDiscordAvatarUrl()}"/>
                        <span class="text-muted">{$loginUser->username|he}</span>
                    </a>
                    {/if}#}
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}

        <footer class="sitefooter mt-auto py-2 px-3 text-right">
            <span class="text-muted"><small>
                ALL FINAL FANTASY XIV © 2010 - {{ "now"|date("Y") }} MATERIAL IS OWNED BY SQUARE ENIX CO., LTD. All Rights Reserved.
            </small></span>
        </footer>

    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
